<footer>
      <nav class="navbar fixed-bottom navbar-dark bg-dark">
   
    <h6 class="display-6 navbar-text">&copy;Sunil Bhele 301156104 sbhele@my.centennialcollege.ca</h6>
    </div>
    </nav>
  </footer>
